* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62, 5%;
  font-family: "DM Sans", sans-serif;
}

body {
  background: linear-gradient(288deg, #c2e9fb 0%, #a1c4fd 100%);
  font-size: 1.6rem;

  /* Um jeito de centralizar a caixa ao centro: */
  display: grid;
  place-items: center;
  height: 100vh;
}

main {
  border-radius: 0.6rem;
  background: #fff;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.1);
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;

  width: min(
    42.8rem,
    90%
  ); /* Faz a caixa ficar flexível p/ widths menores q 42.8rem!*/
  margin: 0 auto;
  margin-top: -8rem;

  text-align: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

h1,
p {
  color: #34355b;
}

p {
    opacity: .8;
}
form {
  margin-top: 4.8rem;
}
